*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #4f4f4f;
  line-height: 1.3ren;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.mb {
  margin-bottom: 90px;
}

.nav {
  padding: 28px 0;
  font-weight: 600;
  border-bottom: 1px solid #ffffff;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 31px;
}

.nav-logo {
  width: 120px;
}

.nav-btn {
  padding: 12px 18px;
  border-radius: 7px;
  background: #782580;
  color: #fff;
}

.main-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.main-block_info,
.main-block_img {
  width: 48%;
}

.main-block_info a {
  color: #2E90D1;
  font-size: 16px;
  font-weight: 600;
}
.main-block_info h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: #232323;
  font-size: 46px;
  line-height: 70px;
}
.main-block_info p {
  font-size: 20px;
  margin-bottom: 56px;
}
.main-block_info .main-block_btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-block_info .main-block_free {
  padding: 18px 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: #782580;
  border-radius: 8px;
  display: inline-block;
}
.main-block_info .main-block_video-clip {
  color: #585858;
  font-weight: 500;
  padding: 18px 0 18px 70px;
  background-image: url(../img/play-icon.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 22%;
}

.main-img {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-items: flex-end;
  margin-bottom: 60px;
}

.block-courses_title {
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: #232323;
}

.block-courses_btn_all-courses {
  padding: 12px 16px;
  color: #782580;
  border: 1px solid #782580;
  border-radius: 8px;
}

.block-courses_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.block-courses_col-3, .block-courses_col-2, .block-courses_col-1 {
  width: 30%;
  padding: 40px;
  border-radius: 10px;
}
.block-courses_col-3 img, .block-courses_col-2 img, .block-courses_col-1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.block-courses_col-3 h3, .block-courses_col-2 h3, .block-courses_col-1 h3 {
  font-size: 24px;
  color: #232323;
  font-weight: 700;
  margin-bottom: 20px;
}
.block-courses_col-3 .block-courses_col_info-corses, .block-courses_col-2 .block-courses_col_info-corses, .block-courses_col-1 .block-courses_col_info-corses {
  margin-bottom: 20px;
  color: #585858;
}
.block-courses_col-3 .block-courses_col_info-corses span, .block-courses_col-2 .block-courses_col_info-corses span, .block-courses_col-1 .block-courses_col_info-corses span {
  color: #000;
  font-weight: 700;
}
.block-courses_col-3 .block-courses_col-price-leam-more, .block-courses_col-2 .block-courses_col-price-leam-more, .block-courses_col-1 .block-courses_col-price-leam-more {
  display: flex;
  justify-content: space-between;
}
.block-courses_col-3 .block-courses_col-price-leam-more a, .block-courses_col-2 .block-courses_col-price-leam-more a, .block-courses_col-1 .block-courses_col-price-leam-more a {
  font-weight: 600;
  color: #782580;
}
.block-courses_col-3 .block-courses_col-price-leam-more p, .block-courses_col-2 .block-courses_col-price-leam-more p, .block-courses_col-1 .block-courses_col-price-leam-more p {
  font-size: 20px;
  font-weight: 700;
  color: #232323;
}

.block-courses_col-1 {
  background: #DEF1FF;
}

.block-courses_col-2 {
  background: #FDEDE4;
}

.block-courses_col-3 {
  background: #EFEFFF;
}

.course-contigent_row .course-contigent_col-6, .course-contigent_row .course-contigent_col-5, .course-contigent_row .course-contigent_col-4, .course-contigent_row .course-contigent_col-3, .course-contigent_row .course-contigent_col-2, .course-contigent_row .course-contigent_col-1 {
  max-width: 400px;
  padding: 10px 20px;
}
.course-contigent_row .course-contigent_col-6 .course-contigent_col_icon-block, .course-contigent_row .course-contigent_col-5 .course-contigent_col_icon-block, .course-contigent_row .course-contigent_col-4 .course-contigent_col_icon-block, .course-contigent_row .course-contigent_col-3 .course-contigent_col_icon-block, .course-contigent_row .course-contigent_col-2 .course-contigent_col_icon-block, .course-contigent_row .course-contigent_col-1 .course-contigent_col_icon-block {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 26px;
  margin-bottom: 16px;
}
.course-contigent_row .course-contigent_col-6 h6, .course-contigent_row .course-contigent_col-5 h6, .course-contigent_row .course-contigent_col-4 h6, .course-contigent_row .course-contigent_col-3 h6, .course-contigent_row .course-contigent_col-2 h6, .course-contigent_row .course-contigent_col-1 h6 {
  font-size: 24px;
  font-weight: 700;
  color: #232323;
  margin-bottom: 10px;
}
.course-contigent_row .course-contigent_col-6 p, .course-contigent_row .course-contigent_col-5 p, .course-contigent_row .course-contigent_col-4 p, .course-contigent_row .course-contigent_col-3 p, .course-contigent_row .course-contigent_col-2 p, .course-contigent_row .course-contigent_col-1 p {
  font-size: 16px;
  font-weight: 50;
}

.course-contigent .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-items: flex-start;
}

.course-contigent_info {
  max-width: 453px;
}
.course-contigent_info h2 {
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: #232323;
}
.course-contigent_info h2 span {
  color: #2F91D2;
  text-transform: uppercase;
  display: block;
  margin-bottom: 27px;
}
.course-contigent_info p {
  font-size: 20px;
  margin-bottom: 40px;
}
.course-contigent_info p span {
  color: #2F91D2;
}
.course-contigent_info a {
  padding: 18px 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: #782580;
  border-radius: 8px;
  display: inline-block;
}

.course-contigent_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}
.course-contigent_row .course-contigent_col-1 .course-contigent_col_icon-block {
  background: #E4D3E8;
  color: #78258D;
}
.course-contigent_row .course-contigent_col-2 .course-contigent_col_icon-block {
  background: #D5E9F6;
  color: #2E90D1;
}
.course-contigent_row .course-contigent_col-3 .course-contigent_col_icon-block {
  background: #FFF1CC;
  color: #FFB800;
}
.course-contigent_row .course-contigent_col-4 .course-contigent_col_icon-block {
  background: #FEF6F6;
  color: #E42125;
}
.course-contigent_row .course-contigent_col-5 .course-contigent_col_icon-block {
  background: #D5E9F6;
  color: #2E90D1;
}
.course-contigent_row .course-contigent_col-6 .course-contigent_col_icon-block {
  background: #E4D3E8;
  color: #78258D;
}

/*# sourceMappingURL=style.css.map */
