@mixin md
    @media screen and (max-width:800px) 
        @content
@mixin s
    @media screen and (max-width:576px) 
        @content
@mixin sl
    @media screen and (max-width:438px) 
        @content
@mixin df
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: center
@mixin title
    font-weight: 900
    font-size: 46px
    line-height: 54px
    color: $black

@mixin vialetbtn
    padding: 18px 25px 
    color: #fff
    font-size: 16px 
    font-weight: 600
    background-color: $vialet
    border-radius: 8px
    display: inline-block