.nav
    padding: 28px 0
    font-weight: 600

.row
    @include df
    align-items: center 
.menu
    display: flex
    align-items: center
    gap: 31px
.nav-logo
    width: 120px
.nav-btn
    padding: 12px 18px
    border-radius: 7px
    background: $vialet
    color: #fff
.line
    height: 1px
    background-color: #FFFFFF